
<p>Badges</p>

<div>
    <span [matBadge]="notification" matBadgeOverlap="false">Notifications</span>
</div>
<div>
    <span matBadge="10" matBadgePosition="below before" matBadgeOverlap="false">Notifications</span>
</div>
<div>
    <span matBadge="10" matBadgePosition="below after" matBadgeOverlap="false">Notifications</span>
</div>
<div>
    <span matBadge="10" matBadgePosition="above before" matBadgeOverlap="false">Notifications</span>
</div>


<button mat-raised-button color="primary" matBadge="3" matBadgePosition="above after" matBadgeColor="accent">
        Hello
</button>

