<mat-accordion>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Fundamental
        </mat-panel-title>

        <mat-panel-description>
            Duration:3 hours 
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is panel content.Add course details</p>
    <mat-action-row>
        <button mat-raised-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular Material
        </mat-panel-title>

        <mat-panel-description>
            Duration:2 hours 
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is panel content.Add course details</p>
    <mat-action-row>
        <button mat-raised-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

</mat-accordion>
