
<nav>
<button mat-raised-button  routerLink="/typo">Typography</button>
<button mat-raised-button  routerLink="/button">Button</button>
<button mat-raised-button  routerLink="/buttonToggle">Button Toggle</button>
<button mat-raised-button  routerLink="/icons">Icons</button>
<button mat-raised-button  routerLink="/badges">Badges</button>
<button mat-raised-button  routerLink="/progressSpinner">ProgressSpinner</button>
<button mat-raised-button  routerLink="/navbar">Navbar</button>
<button mat-raised-button  routerLink="/sidenav">Sidenav</button>
<button mat-raised-button  routerLink="/menu">Menu</button>
<button mat-raised-button  routerLink="/list">List</button>
<button mat-raised-button  routerLink="/gridList">GridList</button>
<button mat-raised-button  routerLink="/expansionPannel">ExpansionPannel</button>
<button mat-raised-button  routerLink="/cards">Cards</button>
<button mat-raised-button  routerLink="/tabs">Tabs</button>
<button mat-raised-button  routerLink="/stepper">Stepper</button>
<button mat-raised-button  routerLink="/input">Input</button>
<button mat-raised-button  routerLink="/select">Select</button>
<button mat-raised-button routerLink="/autocomplete">Autocomplete</button>
<button mat-raised-button routerLink="/radiobutton">RadioButton</button>
<button mat-raised-button routerLink="/datepicker">Date Picker</button>
<button mat-raised-button routerLink="/tooltip">Tooltip</button>
<button mat-raised-button routerLink="/snackbar">Snackbar</button>
<button mat-raised-button routerLink="/dialog">Dialog</button>
<button mat-raised-button routerLink="/datatable">Data table</button>

<button mat-raised-button routerLink="/scrolling"> Virtual Scrolling</button>

</nav>


<router-outlet></router-outlet>









