
<div>
    <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input  required matInput placeholder="Enter your name">
        <mat-hint>Minimum 5 character</mat-hint>
     
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input  required matInput placeholder="Enter your name">
        <mat-hint>Minimum 5 character</mat-hint>
    </mat-form-field>
</div>

<div>
<mat-form-field appearance="legacy">
    <mat-label>Date</mat-label>
    <input matInput type="date">
</mat-form-field>
</div>


<div>
    <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    </div>