
<div>
<button mat-button>button</button>
<button mat-raised-button>raised button</button>
<button cmat-stroked-button>stroked button</button>
<button mat-flat-button>flat</button>
</div>

<div>
<button mat-icon-button>icon</button>
<button mat-fab>fab</button>
<button mat-mini-fab>mini</button>
</div>

<div>
    <button color="primary" mat-raised-button>button</button>
    <button color="accent" mat-raised-button>button</button>
    <button color="warn" mat-raised-button>button</button>
</div>

